.timer {
  line-height: 0;

  &__countdown {
    margin-bottom: .33em;
    line-height: 1;
  }

  &__progress[value] {
    width: 100%;
    height: 6vh;
    appearance: none; // reset
    border: none; // ff reset
    background-color: transparent;
    color: white;

    &::-webkit-progress-bar {
      background-color: inherit;
    }

    &::-webkit-progress-value {
      background-color: currentColor;
    }

    &::-moz-progress-bar {
      // can't combine with webkit rule because browser specific css is dumb
      background-color: currentColor;
    }

    &::ms-fill {
      // can't combine with webkit rule because browser specific css is dumb
      background-color: currentColor;
    }
  }
}